<template>
  <div class="nav">
    <router-link :to="{ name: 'Home' }">Home</router-link> |
    <router-link to="/about">About</router-link>
    <router-link :to="{ name: 'Basket' }">Basket</router-link>
  </div>
</template>
<style scoped>
.nav {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav a {
  color: #fff;
  font-weight: 600;
  margin: 8px;
}
</style>
