<template>
  <div class="about container">
    <img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld :msg="message" />
    <Table
      :personelList="personelList"
      pageName="About"
      @changeListEmit="changeList"
    />
  </div>
</template>
<script>
import HelloWorld from "../components/HelloWorld.vue";
import Table from "../components/helper/Table.vue";
export default {
  components: {
    HelloWorld,
    Table,
  },
  data() {
    return {
      message: "Softtech About",
      personelList: [
        { name: "Arda", surname: "Nogay", age: 24 },
        { name: "Emre", surname: "Kara", age: 22 },
        { name: "Fatih", surname: "Şengül", age: 27 },
        { name: "Mehmet", surname: "Taşan", age: 34 },
      ],
    };
  },
  mounted() {},
  methods: {
    changeList(value) {
      this.personelList = value;
    },
  },
};
</script>
