<template>
  <div class="container basketPage">
    <el-card
      v-for="item in products"
      :key="item.id"
      :body-style="{ padding: '0px' }"
    >
      <div style="padding: 14px">
        <span>{{ item.name }}</span>
        <div class="bottom clearfix flex-justify">
          <div>
            <span>Price {{ item.price }} ₺</span>
            <p>Amount: {{ item.amount }}</p>
          </div>
          <el-button
            :disabled="item.amount == 0"
            @click="add(item)"
            type="primary"
            >Ekle</el-button
          >
        </div>
      </div>
    </el-card>

    <ul v-if="basketList.length">
      <li
        :class="{ primary: activeId == basket.id }"
        class="flex-justify"
        v-for="(basket, index) in basketList"
        :key="basket.id"
        @click="activeId = basket.id"
      >
        <span>{{ basket.name }}</span>
        <span>Birim Fiyat: {{ basket.price }} ₺</span>
        <span>Amount: {{ basket.amount }}</span>
        <el-button
          @click="removeProduct(index, basket)"
          type="danger"
          icon="el-icon-delete"
          circle
        ></el-button>
      </li>
      <span>Toplam</span>
    </ul>
    <h2 v-else>Sepette Ürün Bulunmamaktadır.</h2>

    <el-button @click="activeList = !activeList" type="primary"
      >Toggle</el-button
    >
    {{ getText() }}
  </div>
</template>

<script>
import { ProductList } from "../mocks/basket";
export default {
  data() {
    return {
      currentDate: new Date(),
      basketList: [],
      activeList: false,
      activeId: null,
    };
  },
  watch: {
    activeList(newData, old) {
      console.log("new", newData);
      console.log(old);
    },
  },
  computed: {
    products() {
      return ProductList;
    },
  },

  methods: {
    getText() {
      return this.activeList ? "Hoşgeldin" : "";
    },
    add(params) {
      let basketItem = {
        id: params.id,
        name: params.name,
        price: params.price,
        amount: 1,
      };

      let selectedBasketItem = this.basketList.find((x) => x.id == params.id);

      if (selectedBasketItem) {
        selectedBasketItem.amount += 1;
      } else {
        this.basketList.push(basketItem);
      }

      let selectedProduct = ProductList.find((x) => x.id == params.id);

      selectedProduct.amount -= 1;
    },

    removeProduct(index, params) {
      let selectedProduct = ProductList.find((x) => x.id == params.id);

      selectedProduct.amount += 1;

      let selectedBasketItem = this.basketList.find((x) => x.id == params.id);

      if (selectedBasketItem && selectedBasketItem.amount != 1) {
        selectedBasketItem.amount -= 1;
      } else {
        this.basketList.splice(index, 1);
      }
    },
  },
};
</script>
<style scoped>
.basketPage .flex-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  margin-bottom: 10px;
}
.primary {
  background-color: rgb(166, 166, 226);
}
</style>
