<template>
  <div>
    <Layout />
    <router-view />
  </div>
</template>
<script>
import Layout from "./components/layout/Layout.vue";
export default {
  components: {
    Layout,
  },
  data() {
    return {};
  },
  methods: {},
};
</script>
<style>
#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
